.job-container {
    width: 100%;
    display: grid;
    gap: 20px;
    padding: 20px 20px;
    background-color: #fff;
    border: .5px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    padding-top: 20px
}



.job-list {
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    border: .5px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
}

.job-content {
    display: flex;
    align-items: center;
}

.job-content > .logo {
    border-radius: 50%;
    height: 60px;
    width: 60px
}

.job-content > .info {
    margin-left: 10px
}

.job-title {
    font-size: 20px;
    font-weight: bold;
}

.job-item {
    display: flex;
    flex-direction: column
}

.follow-heart:hover {
    width: 40px;
    height: 40px;
    background-image: url('/img/heart-empty.png');
    background-size: 40px 40px;
    background-position: center;
}

.follow-heart {
    width: 40px;
    height: 40px;
    background-image: url('/img/heart-full.png');
    background-size: 40px 40px;
    background-position: center
}

.job-content.action {
    display: grid;
    grid-auto-flow: column;
    gap: 60px;
    cursor: default
}

.job-content .action-item {
    display: flex;
    justify-content: center;
    cursor: pointer
}

.job-content.calendar,
.job-content .action-item .eye {
    cursor: default
}

.job-content.calendar {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.interview-date {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.job-content.calendar:hover .hide {
    display: flex;
}