.main-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column
}

.basic-info {
    margin: 20px 0;
}

.basic-info h1 {
    font-weight: bold
}

.basic-info-row {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    width: 1000px;
    margin: 0 auto 0;
    height: 100%
}

.basic-info-title {
    display: flex;
    flex-direction: column;

    position: relative
}

.basic-info-company-title {
    display: flex;
    margin-bottom: 20px
}

.basic-info-company-title img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid 1px rgb(209, 209, 209);
    margin-right: 10px
}

.basic-info-company-title a {
    margin-left: auto
}

.basic-info-company-title h1 {
    margin: 0px;
    align-self: center;
}


.basic-info-company-title i {
    font-size: 2rem !important;
    color: rgb(152, 152, 152);
    line-height: 1.3;
}

.basic-info-company-title i:hover {
    font-size: 2rem !important;
    color: rgb(109, 109, 109)
}

.basic-info-content {
    display: flex;
    justify-content: space-between;
    height: 100%
}

.basic-info-main_image {
    margin-right: 40px;
    width: 640px;
}


.basic-info-main_image img {
    width: 100%;
    height: auto
}

.basic-info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.basic-info-container {
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: solid 1px #dadada
}

.basic-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.basic-button-container button {
    width: 145px;
    padding: 15px !important;
    margin: 0 !important;
}

.company-basic-description {
    font-size: 14px;
    color: rgb(32, 32, 32);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #dadada;
}

.other-images-container {
    background-color: rgb(238, 238, 238);
    padding: 15px 0;
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.other-images-item {
    margin: 0 10px;
    align-items: center;
    width: 350px;
    min-width: 350px;
}

.other-images-item img {
    width: 100%;
    height: 100%
}

.main-info {
    margin-top: 3rem;
    position: relative;
    display: block;
}

.main-info h2 {
    color: #1c5288;
    font-size: 1.8rem;
    font-weight: 1000;
    margin-bottom: 1rem;
    line-height: 1.5;
}


.main-info strong {
    color: #000000;
    font-weight: 1000;
    margin-bottom: 0.7rem;
    line-height: 1.2;
}

.main-info ul {
    padding-left: 40px;
}

.main-info li {
    list-style-type: disc;
    color: #393939;
    margin-bottom: 3px;
    line-height: 1.5;
}


.main-info-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative
}


.main-info-content {
    position: relative;
    width: 75%;
    padding-right: 40px;
}

.sidebar {
    width: 25%;
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
}

.sidebar button {
    margin-bottom: 10px !important;
}


.sidebar-button-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 70px;
}

.content {
    margin-bottom: 30px;
}

.sidebar-button-container a {
    margin-top: 10px
}

/* ======= company basic info ======= */


.company-basic-info-location,
.company-basic-info-address,
.company-basic-info-catergory {
    display: flex;
    font-size: 14px;
    margin-bottom: 10px
}

.company-basic-info-location a,
.company-basic-info-address p,
.company-basic-info-catergory a {
    font-weight: 500;
    color: rgb(67, 67, 67);
}

.company-basic-info-type:hover,
.company-basic-info-brand:hover,
.company-basic-info-location > a:hover,
.company-basic-info-catergory > a:hover {
    text-decoration: underline;
}


.company-card-category-item {
    margin-right: 6px
}

.company-basic-info-tags {
    margin-top: 10px;
    line-height: 1.5px;
    display: flex;
    margin-bottom: 8px
}

.company-card-img img {
    width: 380px;
    height: 168px;
}

.company-tag {
    color: #0070c4 !important;
    display: inline-flex;
    align-items: center;
    padding: .25rem .3125rem;
    font-size: 12px !important;
    white-space: nowrap;
    background-color: #cdeaff;
    border-radius: 2px;
    cursor: pointer;
}

.company-tag:hover {
    background-color: #b1d3ec;
}

.basic-info-container svg,
.basic-info-container path {
    display: block;
    color: rgb(52, 52, 52);
    height: 16px;
    width: 16px;
}

.basic-info-container svg {
    margin: auto 6px auto 0
}

.basic-info-container a,
.basic-info-container p {
    margin-left: 5px
}

.company-basic-update-time-text {
    color: rgb(176, 176, 176);
    font-size: 14px
}