/* ============== company ============== */

.company-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap
}

.company-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 310px;
    padding: 1rem;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-shadow {
    box-shadow: 2px 3px 0 #f2f2f2;
}

.company-card-container:hover {
    border-color: #e5e5e5;
    cursor: pointer
}

.card-shadow:hover {
    box-shadow: 2px 3px 0 #e5e5e5;
}

.company-card-banner {
    width: 100%;
    position: relative;
}

.company-card-banner img {
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.company-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    flex-grow: 1;
    min-width: 0px
}

.comapny-card-title {
    display: flex;
    align-items: center;
}

.comapny-card-title-logo {
    height: 28px;
    width: 28px;
    min-width: 28px;
    margin-right: 5px;
}

.comapny-card-title-logo .avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
}


.comapny-card-title-logo img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
    border: 1px solid rgb(202, 202, 202)
}

.comapny-card-title-name {
    font-size: 1.3rem;
}

.company-card-description {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: auto;
    color: #6c6c6c;
    font-size: 1rem;
    line-height: 1.375rem;
    max-height: 4rem
}

.company-card-item {
    display: flex;
    flex: 1;
}

.company-card-info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 1 1 auto;
}

.company-card-footer {
    display: flex;
    margin-bottom: 2px;
    font-size: 1rem;
    font-weight: 800;
}

.company-card-footer a {
    color: rgb(100, 100, 100);
    font-weight: bold;
}

.company-card-footer a:hover {
    text-decoration: underline
}

.company-card-info .category {
    margin-bottom: 6px;
}

.company-card-content-tags {
    line-height: 1.5px;
    font-size: 14px;
    display: flex
}

.card-tag {
    color: #0070c4 !important;
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
    padding: .25rem .3125rem;
    font-size: .75rem;
    white-space: nowrap;
    background: #cdeaff;
    border-radius: 2px;
    line-height: 1;
    cursor: pointer;
}

.card-tag:hover {
    background-color: #b1d3ec;
}

.company-card-content svg,
.company-card-content path {
    display: block;
    color: rgb(138, 138, 138);
    height: 16px;
    width: 16px;
}

.company-card-content svg {
    margin: auto 6px auto 0
}


.tag-list {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px
}

.tag-label {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 4px 10px;
    /* height: 20px; */
    border-radius: 15px;
    background-color: #da9898;
    font-size: 0.8rem;
    margin-right: 10px
}

.tag-label p {
    margin: 0 5px;
    line-height: 1rem;
}

.tag-label i {
    line-height: 1.3;
    margin: 0;
    cursor: pointer
}

.tag-label.location {
    background-color: #7dbdee
}

.tag-label.jobType {
    background-color: #dd8d8d
}

.tag-label.tag {
    background-color: rgba(136, 236, 158, 0.815)
}

.tag-label.position {
    background-color: rgb(255, 221, 176)
}