<!DOCTYPE html>
<html lang="en">

<head>
  <%- include layout/head %>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>

<body>
  <header>
    <%- include layout/header %>
  </header>
  <main>
    <div id="loading" class="container loading">
      <h1>500</h1>
      <h2>Unexpected Error <b>:(</b></h2>
      <div class="gears">
        <div class="gear one">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="gear two">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="gear three">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <%- include /layout/footer %>
    <script src="/js/error.js"></script>
  </footer>
</body>