<!DOCTYPE html>
<html lang="en">

<head>
    <%- include layout/head %>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/job.css">
</head>

<body>
    <header>
        <%- include layout/header %>
    </header>
    <main>
        <div class="ui secondary vertical pointing menu">
            <a class="item active">
                Home
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item">好友 </a>
        </div>
    </main>
</body>

</html>