<div class="navigation">
    <div class="navigation-logo">
        <a id="logo" href="/api/1.0/jobs ">Mayones
        </a>
    </div>
    <div class="navigation-list">
        <% if (!header.view) { %>
            <a class="navigation-item " href="/api/1.0/jobs">職缺</a>
            <a class="navigation-item " href="/api/1.0/companies">公司</a>
            <% } else { -%>
                <% if (header.view==="job" ) { -%>
                    <a class="navigation-item active" href="/api/1.0/jobs">職缺</a>
                    <a class="navigation-item" href="/api/1.0/companies">公司</a>
                    <% } else if (header.view==="company" ) { -%>
                        <a class="navigation-item " href="/api/1.0/jobs">職缺</a>
                        <a class="navigation-item active" href="/api/1.0/companies">公司</a>
                        <% }else { -%>
                            <a class="navigation-item " href="/api/1.0/jobs">職缺</a>
                            <a class="navigation-item " href="/api/1.0/companies">公司</a>
                            <% } %>
                                <% } %>
    </div>
    <div class="navigation-role">
        <% if (header.auth) { %>
            <a class="navigation-item" href="/api/1.0/employee/signin">
                <%= header.username%>
            </a>
            <% } else { -%>
                <% if (header.role==="employer" ) { -%>
                    <a class="navigation-item active" href="/api/1.0/employer/signin">企業主</a>
                    <a class="navigation-item" href="/api/1.0/employee/signin">求職者</a>
                    <% } else if (header.role==="employee" ) { -%>
                        <a class="navigation-item" href="/api/1.0/employer/signin">企業主</a>
                        <a class="navigation-item active" href="/api/1.0/employee/signin">求職者</a>
                        <% } else { %>
                            <a class="navigation-item" href="/api/1.0/employer/signin">企業主</a>
                            <a class="navigation-item" href="/api/1.0/employee/signin">求職者</a>
                            <% } %>
                                <% } %>
    </div>
</div>